@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import "../styles/MediaQueries.scss";

$headerColour: #4e5bb6;
$headerTextColour: #e9e9f3;

$bodyColour: #50b7d9;

$websiteTextColour: #2e3773;
$techColour: #f0f1fc;

$buttonColour: #4e5bb6;
$buttonTextColour: #ffffff;

@mixin backgroundColourSet {
  background-color: $headerColour;
  color: $headerTextColour;
}

@mixin websiteWidth {
  margin: auto;
  width: 75%;
}

@mixin websiteTile {
  margin-bottom: 4rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#root {
  scroll-snap-type: y proximity;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

header,
main {
  scroll-snap-align: start;
}

.container {
  display: flex;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}
