/* LAYOUT DEBUG */
// * {
//   outline: 1px solid orange;
//   background-color: hsla(0, 0%, 100%, 0.18);
// }

#root {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

body {
  font-family: "Open Sans", sans-serif;
}

header,
main,
footer {
  scroll-snap-align: start;
}
