@import "../styles/Head.scss";

#contact {
  justify-content: center;

  .contact {
    @include websiteTile;
    margin-bottom: 1rem;
    padding: 1rem;

    flex-direction: column;
    align-items: center;

    * {
      color: #3c4689;
    }

    h3 {
      margin-top: 0;
    }
  }
}
