@import "../styles/App.scss";

footer {
  flex-direction: column;
  .footerBar {
    @include backgroundColourSet;

    padding: 0.5rem 1rem;
    font-size: 0.7rem;
  }
}

.contact {
  margin: auto;
  @include websiteTile;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  font-style: normal;

  * {
    color: #3c4689;
  }

  h3 {
    margin-top: 0;
  }

  > div,
  > a {
    padding-bottom: 0.5rem;
  }
}
