$buttonColour: #4ea1d3;

@mixin backgroundColourSet {
  background-color: #6474e5;
  color: #e9e9f3;
}

@mixin websiteWidth {
  margin: auto;
  width: 80%;
}

@mixin websiteTile {
  margin-bottom: 4rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

header {
  @include backgroundColourSet;
  height: 100vh;

  > div {
    height: 100%;
    flex-direction: column;
    @include websiteWidth;

    justify-content: space-between;
  }
  > div::before {
    flex-grow: 2;
  }
  h3 {
    align-self: center;
  }
}

.headerMain {
  nav {
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    .logo {
      font-size: 2rem;
      font-weight: 800;
    }
  }
  * {
    font-size: 1.2rem;
  }

  .headerText,
  .headshot {
    width: 50%;
  }

  .title {
    display: flex;
    align-items: center;

    h1 {
      font-size: 3.2rem;
      font-weight: 800;
    }
    img {
      width: 50px;
      height: auto;
    }
  }

  .headerText {
    p {
      font-weight: 600;
    }
  }

  .links {
    display: flex;
    flex-direction: row;
  }

  .headshot {
    justify-content: flex-end;
    height: 50vh;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.down {
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}
