header {
  height: 100vh;
  background-color: #6474e5;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  margin-bottom: 5%;
}

.headerContainer {
  margin: auto;
  width: 80%;
}

.links {
  display: flex;
  flex-direction: row;
  a {
    font-size: 2rem;
  }
}
