@import "../styles/App.scss";

header {
  @include backgroundColourSet;
  height: 100vh;

  .headerMain {
    @include websiteWidth;
    height: 100%;
    flex-direction: column;

    nav {
      align-items: center;
      padding: 3em 0;
      .logo {
        font-size: 2rem;
        font-weight: 800;
      }
    }
    * {
      font-size: 1.2rem;
    }

    .textAndHead {
      align-items: center;
    }

    .headerText,
    .headshot {
      width: 50%;
    }

    .title {
      display: flex;
      align-items: center;

      h1 {
        font-size: 3.2rem;
        font-weight: 800;
      }
      img {
        width: 50px;
        height: auto;
      }
      div {
        font-size: 3rem;
      }
    }

    .headerText {
      p {
        font-weight: 600;
      }
    }

    .headshot {
      justify-content: flex-end;
      height: 50vh;
      img {
        object-fit: contain;
        max-width: 100%;
      }
    }
  }
}

.down {
  display: flex;
  justify-content: center;
  align-items: center;

  .emoji {
    font-size: 1.5rem;
    &.right {
      transform: rotateY(180deg);
    }
  }
}
