@import "../styles/Head.scss";

main {
  @include websiteWidth;

  display: flex;
  flex-direction: column;

  padding-top: 5%;
}

body {
  background-color: #d1d5f7;
}

#root > svg {
  position: absolute;
  z-index: -1;
}

.website {
  margin-bottom: 5rem;
  background-color: #ffffff;
}
