@import "../styles/App.scss";

main {
  @include websiteWidth;
  width: 70%;

  display: flex;
  flex-direction: column;

  padding-top: 5%;
}

body {
  background-color: #d1d5f7;
}

#root > svg {
  position: absolute;
  z-index: -1;
}
