@import "../styles/App.scss";

main {
  @include websiteWidth;
  width: 55%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: $bodyColour;
}

#root > svg {
  position: absolute;
  z-index: -1;
}
