@media (max-width: 1100px) {
  main {
    width: 70%;
  }
}

@media (max-width: 910px) {
  header {
    .headerMain {
      width: 90%;
      .headshot {
        height: 40vh;
      }
    }
  }

  main {
    width: 90%;
    .website {
      flex-direction: column-reverse;
    }
  }
}

@media (max-width: 750px) {
  header {
    .headerMain {
      width: 95%;
      nav {
        padding: 2rem 0;
      }
      .headshot {
        height: 30vh;
      }
    }
  }
}

@media (max-width: 500px) {
  header {
    .headerMain {
      width: auto;
      padding: 1em;
      nav {
        padding: 0;
      }
      .textAndHead {
        flex-direction: column;
        width: 100%;
        .headerText,
        .headshot {
          // flex-basis: 50%;
          width: 100%;
        }
      }
    }
  }
}
