@import "../styles/Head.scss";

.website {
  display: flex;
  min-height: 50vh;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  &:nth-child(even) {
    direction: rtl;
    * {
      direction: ltr;
    }
  }

  .image,
  .details {
    width: 50%;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .image {
    align-self: center;
    img {
      width: 100%;
      object-fit: contain;
      @include borderTest;
    }
  }
}

.details {
  .detailsText {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .title,
    .tech {
      align-self: center;
    }

    .tech {
      display: flex;
      width: 100%;
      justify-content: space-around;

      .parallelogram {
        transform: skew(-20deg);
        background: #e564db;
        padding: 5px;
        div {
          transform: skew(20deg);
        }
      }
    }
  }

  //Code for github live hover
  // .detailsLinks {
  //   display: flex;
  //   justify-content: space-around;

  //   button {
  //     // background-color: $buttonColour;
  //     // border: none;
  //     // border-radius: 5px;
  //     width: 70px;
  //     white-space: nowrap;

  //     padding: 0 5px 0;
  //     margin-right: 10px;

  //     text-align: center;

  //     transition: all 0.5s;
  //     display: inline-block;

  //     span {
  //       cursor: pointer;
  //       display: inline-block;
  //       position: relative;
  //       transition: 0.5s;
  //     }

  //     span:after {
  //       content: "\00bb";
  //       position: absolute;
  //       opacity: 0;
  //       top: 0;
  //       right: -20px;
  //       transition: 0.5s;
  //     }

  //     &:hover span {
  //       padding-right: 10px;
  //     }

  //     &:hover span::after {
  //       opacity: 1;
  //       right: 0;
  //     }
  //   }
  // }
}
