@import "../styles/Head.scss";

.website {
  display: flex;
  border-radius: 15px;

  .image,
  .details {
    width: 50%;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .image {
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.details {
  .detailsText {
    display: flex;
    flex-direction: column;
    .tech {
      align-self: center;
    }
  }
  .detailsLinks {
    display: flex;
    justify-content: space-around;
    button {
      background-color: $buttonColour;
      padding: 5px;
      width: 70px;
      margin-right: 10px;
      border-radius: 5px;
    }
  }
}
