@import "../styles/App.scss";

.website {
  @include websiteTile;

  display: flex;
  height: 45vh;
  flex: 1;

  &:nth-child(even) {
    direction: rtl;
    * {
      direction: ltr;
    }
  }

  > * {
    color: #3c4689;
    font-size: 1.2rem;
  }

  > div {
    padding: 0.8rem;
  }
}

.image {
  flex-basis: 50%;
  align-self: center;
  img {
    max-width: 100%;
    object-fit: contain;
  }
}

.details {
  flex-basis: 50%;
  flex-direction: column;

  row-gap: 1rem;

  .title {
    align-items: center;

    a {
      min-width: 40px;
      padding-right: 0.8em;
    }
  }

  .tech.container {
    justify-content: space-around;
    flex-wrap: wrap;

    div {
      background-color: #f0f1fc;
      font-weight: bold;
      border-radius: 5px;
      padding: 0.25rem 0.5rem;
    }
  }

  .description {
    flex-grow: 2;

    div:nth-child(1) {
      padding-bottom: 1rem;
    }
  }

  .link {
    align-self: center;
    button {
      background-color: #6474e5;
      display: inline-block;
      outline: 0;
      border: 0;
      cursor: pointer;
      color: #ffffff;
      border-radius: 8px;
      padding: 0.6rem 0.7rem;
      font-size: 18px;
      font-weight: 700;
      line-height: 1;
      transition: transform 200ms, background 200ms;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
